*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%; 
    overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
}

#formularioParcela {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; 
}

aside {
    display: flex;
    margin: 3vh auto;
    height: 100vh;
    width: 25%;
    flex-direction: column;
    padding: 10px;
}

#gestor-filtrador-cultivos {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

#botones-elementos{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10px;
    margin-bottom: 10px;
}
#botones-elementos button{
    margin: 5px;
}

#container {
    display: flex;
    border: 1px solid black;
    height: 85%; 
    flex-direction: column;
    overflow: auto;
}

#configuracion-parcela {
    display: flex;
    flex-flow: column nowrap;
    margin: 3vh 1vh;
    height: 94vh;
    width: 75%;
    padding: 10px;
    
}

#info-parcela {
    display: flex;
    border: 1px solid black;
    margin: 0;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}

#dibujo-parcela{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: calc(100% - 12vh - 14px); 
    margin-top: 10px;
    overflow: hidden;
}

ul {
    margin: 0;
    overflow-y: auto;
    padding-left: 0;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
}

#listado-cultivos li img {
    width: 100px;
    max-width: 100%; 
    height: auto; 
}

h4 {
    margin-left: 5px;
}

#filtro-cultivos {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); 
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#bloque-filtros{
    display: flex;
    flex-flow: row nowrap;
}



#menu {
    display: none;
    position: absolute;
    width: 60px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
  }

  #menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px 10px 10px 7px;
    border-radius: 5px;
  }

  #menu button:hover {
    background-color: lightgray;
  }





  /* POR REVISAR --------------------------------*/


  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }